@import "vars";
@import "fonts";
@import "reset";
@import "global";

/* **************** start header **************** */

.header__top-inner {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-white {
  display: none;
}
.header__top-box {
  display: flex;
  align-items: center;
}
.header__top-address {
  max-width: 205px;
  margin-right: 60px;
  @include f300;
  font-size: 14px;
}
.header__top-phone {
  margin-right: 40px;
  a {
    font-size: 24px;
    color: #28292d;
    &:hover {
      color: #f39b14;
    }
  }
  p {
    text-align: right;
    @include f300;
    font-size: 14px;
  }
}
.header__top-address,
.header__top-phone {
  position: relative;
  padding-left: 37px;
  span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
  }
}
.header__top-btn {
  border: 1px solid #28292d;
  background-color: transparent;
  padding: 17px 28px;
  @include f600;
  font-size: 12px;
  &:hover {
    color: #fff;
    background-color: #28292d;
  }
}
.header__menu {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  li {
    display: flex;
    justify-content: center;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid transparent;
    &:last-child {
      border-right: 1px solid #e5e5e5;
    }
    &:hover {
      border-top: 1px solid #f39b14;
      a {
        color: #f39b14;
      }
    }
    a {
      padding: 10px;
      display: flex;
      text-align: center;
      align-items: center;
      height: 70px;
      @include f700;
      font-size: 16px;
      color: #28292d;
    }
  }
}
.header__menu-btn {
  display: none;
  cursor: pointer;
  div {
    background-color: #333;
    height: 2px;
    width: 30px;
    & + div {
      margin-top: 10px;
    }
  }
}
.menu__link-xs {
  max-width: 170px;
  width: 100%;
}
.menu__link-s {
  max-width: 194px;
  width: 100%;
}
.menu__link-m {
  max-width: 216px;
  width: 100%;
}
.menu__link-l {
  max-width: 246px;
  width: 100%;
}

.header__slide-item {
  min-height: 615px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-item-wrapper {
  padding-top: 150px;
}
.slide__item-title {
  @include f900;
  font-size: 70px;
  max-width: 850px;
  span {
    @include f600;
    font-size: 30px;
  }
  margin-bottom: 42px;
}
.slide__item-text {
  @include f300;
  font-size: 20px;
  padding-left: 57px;
  margin-bottom: 62px;
  position: relative;
  max-width: 465px;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #f39b14;
  }
}
.slide__item-btn {
  width: 330px;
  background-color: #28292d;
  @include f700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 25px 0;
  border: 1px solid #28292d;
  &:hover {
    color: #f39b14;
    background-color: transparent;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  li {
    button {
      font-size: 0;
      width: 27px;
      height: 4px;
      border: none;
      background-color: #cacaca;
    }
    & + li {
      margin-left: 6px;
    }
  }
  .slick-active {
    button {
      background-color: #f39b14;
    }
  }
}
/* **************** end header **************** */

/* **************** start products **************** */
.products__title {
  margin-bottom: 33px;
}
.products__text {
  @include f300;
  font-size: 18px;
  margin-bottom: 50px;
}
.products__furniture-title,
.products__technical-title {
  @include f700;
  font-size: 24px;
  margin-bottom: 20px;
}
.products__furniture {
  margin-bottom: 70px;
}
.products__furniture-inner,
.products__technical-inner {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.products__item-wrapper {
  width: 25%;
  padding: 10px;
}
.products__item {
  max-width: 330px;
  width: 100%;
  &:hover {
    .products__item-img {
      opacity: 0.7;
    }
    .products__item-text {
      color: #f39b14;
    }
  }
}
.products__item-img {
  min-height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}
.products__item-text {
  @include f600;
  font-size: 18px;
  color: #000;
}
/* **************** end products **************** */

/* **************** start advantage **************** */
.advantage__title {
  margin-bottom: 60px;
}
.advantage__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.advantage__item {
  max-width: 330px;
  width: 100%;
  margin-bottom: 60px;

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 33px;
  }
  &-text {
    @include f600;
    font-size: 24px;
    color: #000;
    text-align: center;
  }
}
/* **************** end advantage **************** */

/* **************** start order **************** */
.order {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 452px;
}
.order__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 156px;
}
.order__text {
  font-size: 40px;
  @include f300;
  color: #fff;
  span {
    @include f700;
  }
}
.order__box {
  text-align: center;
  max-width: 450px;
  width: 100%;
  &-phone {
    @include f700;
    font-size: 48px;
    color: #fff;
    padding-bottom: 30px;
    width: 100%;
    &:hover {
      color: #f39b14;
    }
  }
  &-btn {
    height: 80px;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: #fff;
    &:hover {
      color: #fff;
      background-color: #28292d;
    }
  }
}
/* **************** end order **************** */

/* **************** start certificates **************** */
.certificates__title {
  margin-bottom: 40px;
}
.certificates__slider {
  margin: -10px;
  margin-bottom: 40px;
  .slick-next.slick-next.slick-arrow,
  .slick-prev.slick-arrow {
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ededed;
  }
  .slick-prev {
    position: absolute;
    top: -35px;
    right: 70px;
  }
  .slick-next {
    position: absolute;
    top: -35px;
    right: 33px;
  }
}
.certificates__item {
  padding: 10px;
  max-width: 450px;
}

.certificates__btn {
  font-size: 12px;
  @include f600;
  background-color: #fff;
  border: 1px solid #28292d;
  max-width: 270px;
  height: 45px;
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  color: #000;
  text-align: center;
  &:hover {
    color: #fff;
    background-color: #28292d;
  }
}

/* **************** end certificates **************** */

/* **************** start popular-products **************** */
.popular-products__title {
  margin-bottom: 40px;
}
.popular-products__btn {
  margin-bottom: 24px;
  button {
    background-color: #fff;
    border: 1px solid #28292d;
    width: 210px;
    height: 50px;
    padding: 15px 0;
    font-size: 12px;
    @include f600;
    color: #919191;
    text-align: center;
    &:hover {
      color: #f39b14;
      border: 1px solid #f39b14;
    }
    & + button {
      margin-left: 15px;
    }
  }
}
.popular-products__slider {
  margin: -10px;
}
.popular-products__item {
  max-width: 333px;
  width: 100%;
  padding: 10px;
  &-img {
    margin-bottom: 28px;
    img {
      height: 211px;
      max-width: 100%;
      object-fit: cover;
      margin: 0 auto;
    }
  }
  &-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 12px;
    line-height: 180%;
    margin-bottom: 28px;
  }
  &-price {
    @include f700;
    font-size: 24px;
  }
  &-btn {
    width: 150px;
    padding: 12px 0 13px;
    font-size: 12px;
    @include f600;
    color: #28292d;
    background-color: #fff;
    border: 1px solid #28292d;
    text-align: center;
    &:hover {
      color: #f39b14;
      border: 1px solid #f39b14;
    }
  }
}
.popular-products__item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-products__slider {
  margin: -10px;
  margin-bottom: 40px;
  .slick-next.slick-next.slick-arrow,
  .slick-prev.slick-arrow {
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ededed;
  }
  .slick-prev {
    position: absolute;
    top: -35px;
    right: 70px;
  }
  .slick-next {
    position: absolute;
    top: -35px;
    right: 33px;
  }
}
.popular-products-btn {
  font-size: 12px;
  @include f600;
  background-color: #fff;
  border: 1px solid #28292d;
  max-width: 270px;
  height: 45px;
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  color: #000;
  text-align: center;
  &:hover {
    color: #fff;
    background-color: #28292d;
  }
}

/* **************** end popular-products **************** */

/* **************** start feedback **************** */
.feedback {
  min-height: 400px;
}
.feedback__wrapper {
  padding: 66px 0;
}
.feedback__title {
  text-align: center;
  @include f700;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 535px;
}
.feedback__input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 18px;
  input {
    max-width: 360px;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 20px 26px;
    font-size: 12px;
    color: #fff;
    &::placeholder {
      font-size: 12px;
      color: #fff;
    }
  }
}
.feedback__form-btn {
  display: block;
  margin: 0 auto;
  padding: 22px 0 23px;
  max-width: 360px;
  width: 100%;
  font-size: 20px;
  color: #28292d;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  &:hover {
    color: #fff;
    background-color: #28292d;
  }
}
.feedback__form-checkbox {
  max-width: 360px;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
}
.checkbox {
  width: 100%;
  padding: 0 0 0 26px;
  display: block;
  position: relative;
  cursor: pointer;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"] + span {
  position: absolute;
  left: 0;
  top: 0px;
  width: 15px;
  height: 15px;
  background: url(../images/icon/check-arr.svg) no-repeat;
  cursor: pointer;
  background-position: -50px 0;
  background-color: transparent;
  border: 1px solid #fff;
}
.checkbox input[type="checkbox"]:checked + span {
  background-position: center center;
}
/* **************** end feedback **************** */

/* **************** start ceo **************** */
.ceo__title {
  margin-bottom: 20px;
}
.ceo__text {
  font-size: 14px;
  line-height: 250%;
}
/* **************** end ceo **************** */

/* **************** start footer **************** */
.footer {
  padding: 38px 0 16px;
  border-top: 1px solid #28292d;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.footer-phone {
  padding-left: 0;
  margin-right: 0;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__col:first-child {
  max-width: 330px;
  @include f600;
  font-size: 14px;
  line-height: 100%;
}
.footer__copyright {
  margin-bottom: 20px;
}
.footer__text {
  margin-bottom: 45px;
}
.footer__privac-policy {
  margin-bottom: 35px;
  color: #28292d;
  &:hover {
    color: #f39b14;
  }
}
.footer__right {
  color: #c0c0c0;
}
.footer__col-links {
  a {
    @include f700;
    font-size: 16px;
    color: #28292d;
    &:hover {
      color: #f39b14;
    }
  }
  li + li {
    margin-top: 30px;
  }
}
.footer__col:last-child {
  max-width: 200px;
  text-align: right;
  @include f600;
  font-size: 16px;
}
.footer__col-adderss {
  margin-bottom: 35px;
}
.footer__col-mail {
  font-size: 14px;
  color: #f39b14;
}
/* **************** end footer **************** */

/* **************** start popup **************** */
.popup {
  //   display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(50%, -50%) scale(0);
  transition: all 0.3s;
  z-index: 10;
}
.popup.active {
  transform: translate(0, 0) scale(100%);
  background-color: rgba(0, 0, 0, 0.8);
}
.popup__container {
  display: flex;
  width: 100%;
  height: 100%;
}
.popup__body {
  margin: auto;
  width: 600px;
  background-color: #fff;
  padding: 60px 90px;
  position: relative;
}
.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.popup__body {
  text-align: center;
  .popup__title {
    margin-bottom: 18px;
    font-size: 36px;
  }
  .popup__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 35px;
  }
  input {
    width: 100%;
    padding: 22px 26px;
    border: 1px solid #e3e3e3;
    &::placeholder {
      font-size: 12px;
      color: #28292d;
    }
    & + input {
      margin-top: 7px;
    }
  }
  .checkbox {
    margin-top: 13px;
    color: #28292d;
    text-align: left;
  }
  .popup__form-btn {
    width: 100%;
    padding: 25px;
    font-size: 18px;
    @include f700;
    color: #fff;
    margin-top: 23px;
    background: linear-gradient(95.94deg, #f19217 17.38%, #ea611b 105.13%);
    border: none;
  }
  .checkbox input[type="checkbox"] + span {
    border: 1px solid #dedede;
  }
  .popup__form-checkbox {
    font-size: 10px;
  }
  .popup__politic {
    color: #f39b14;
  }
}
/* **************** end popup **************** */

/* **************** start order **************** */
/* **************** end order **************** */

@import "midia";
