@import "vars";
@import "fonts";
@import 'reset';
@import "global";

/* **************** start header **************** */

.header__top-inner{
   padding: 30px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__top-box{
   display: flex;
   align-items: center;
}
.header__top-address{
   max-width: 205px;
   margin-right: 60px;
   @include f300;
   font-size: 14px;
}
.header__top-phone{
   margin-right: 40px;
   a{
      font-size: 24px;
      color: #28292D;
      &:hover{
         color: #F39B14;
      }
   }
   p{
      text-align: right;
      @include f300;
      font-size: 14px;
   }
}
.header__top-address,
.header__top-phone{
   position: relative;
   padding-left: 37px;
   span{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate( 0%, -50%);
   }
}
.header__top-btn{
   border: 1px solid #28292D;
   background-color: transparent;
   padding: 17px 28px;
   @include f600;
   font-size: 12px;
   &:hover{
      color: #fff;
      background-color: #28292D;
   }
}
.header__menu{
   border-top: 1px solid #E5E5E5;
   border-bottom: 1px solid #E5E5E5;
}
.menu__list{
   display: flex;
   justify-content: space-between;
   li{
      
      display: flex;
      justify-content: center;
      border-left: 1px solid #E5E5E5;
      border-top: 1px solid transparent;
      &:last-child{
         border-right: 1px solid #E5E5E5;
      }
      &:hover{
         border-top: 1px solid #F39B14;
         a{
            color: #F39B14;
         }
      }
      a{ 
         padding: 10px;
         display: flex;
         text-align: center;
         align-items: center;
         height: 70px;
         @include f700;
         font-size: 16px;
         color: #28292D;
         
      }
   }
}
.menu__link-xs{
   max-width: 170px;
   width: 100%;
}
.menu__link-s{
   max-width: 194px;
   width: 100%;
}
.menu__link-m{
   max-width: 216px;
   width: 100%;
}
.menu__link-l{
   max-width: 246px;
   width: 100%;
}

/* **************** end header **************** */




@import "midia";
